:root{
    --background-color1:#212529;
    --text-color1:white;
    --text-color2:#212529;
}
.background1{
    background-color: var(--background-color1);
    color:var(--text-color1);
}
.sub-heading-color{
    color:blue;
}
#section{
    padding-top:4rem;
}
#home-page-back-img{
    margin-top:180px;
    background-image:url(../images/images-for-html/rodan-znintsr46vlv41u1.jpg);
}
#header-back h1{
    background-color:white;
    color:var(--text-color2);
}
#godzilla-page-back-img{
    background-image: url(../images/images-for-html/godzilla-dominance-over-cityscape.jpg);
}
#king-ghidorah-page-back-img{
    background-image: url(../images/images-for-html/king-ghidorah);
}
#rodan-page-back-img{
    background-image: url(../images/images-for-html/rodan-1280-x-882-mkjzoe6324kfao20.webp);
}
#form-page-back-img{
    background-image: url(../images/images-for-html/godzilla-4k-ocean.jpg);
}
#success-page-back-img{
    background-image: url(../images/images-for-html/age-rating-little-monsters.png);
}
.center-iframe{
    display:block;
    margin: 0 auto;
}
.center{
    display:block;
    margin: 0 auto;
    margin-top:40px;
    background-color: var(--background-color1);
    border-color:white;
}
.center:hover{
    background-color: white;
    color:var(--text-color2);
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:var(--text-color2);
}
.padding1{
    padding-top: 4rem;
    color:var(--text-color1);
}
.padding2{
    padding-top: 1rem;
    color:var(--text-color1);
}
.padding3{
    padding-top:200px;
    padding-bottom:300px;
    border-bottom:200px;
    min-height: 1100px;
    min-width: 400px;
}
.padding4{
    margin-top:75px;
    padding:50px;
}
.padding5{
    margin-left:40%;
    margin-top:25px;
}
.top-input{
    width:100%;
}
#form-box{
    width:30%;
    margin-left:100px;
    background-color: rgba(0,0,0,0.5);
    color:var(--text-color1);
}
#form-box2{
    margin-top:4rem;
    padding:50px;
    width:30%;
    margin-left:100px;
    background-color: rgba(0,0,0,0.5);
    color:var(--text-color1);
}
.back1{
    background-color: rgba(0,0,0,0.5);
}
#capital{
    text-transform:uppercase;
}
#radio-button-spacing{
    padding-top:25px;
}
.table-1{
    background-color: var(--background-color1);
    color:var(--text-color1);
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.table-1 div table tr th{
    width:150px;
    padding-top:25px;
}
.white-text{
    color:var(--text-color1);
}
.white-text >a{
    color:var(--text-color1);
}
header{
    position: absolute;
    width:100%;
}