:root{
    --background-color1:#212529;
    --text-color1:white;
}
.background1{
    background-color: var(--background-color1);
    color:var(--text-color1);
}
.sub-heading-color{
    color:blue;
}
#section{
    padding-top:4rem;
}
#home-page-back-img{
    background-image:url(../images/images-for-html/rodan-znintsr46vlv41u1.jpg);
}
#godzilla-page-back-img{
    background-image: url(../images/images-for-html/godzilla-dominance-over-cityscape.jpg);
}
#king-ghidorah-page-back-img{
    background-image: url(../images/images-for-html/king-ghidorah);
}
#rodan-page-back-img{
    background-image: url(../images/images-for-html/rodan-1280-x-882-mkjzoe6324kfao20.webp);
}
.center-iframe{
    display:block;
    margin: 0 auto;
}
.padding1{
    padding-top: 4rem;
    color:var(--text-color1);
}
.padding2{
    padding-top: 10rem;
    color:var(--text-color1);
}
.padding3{
    padding:4rem;
}
.white-text{
    color:var(--text-color1);
}
header{
    position: fixed;
    width:100%;
}